#detail-container {
    margin: 0px auto;
    padding: 0px 40px;
    width: calc(100% - 80px);
    max-width: calc(900px - 80px);
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0px 0px 0px;
}

p {
    margin: 10px 0px 0px 0px;
    line-height: 1.6;
}