#index-container {
    margin: 0px auto;
    padding: 0px 40px;
    width: calc(100% - 80px);
    max-width: calc(900px - 80px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#index-container img {
    padding: 2px;
    width: 250px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid transparent;
}

#index-container img:hover {
    border: 1px solid var(--text-secondary);
}