#index_01 {
    margin: 0px auto;
    padding: 0px 40px;
    width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

#index_01 img {
    width: calc(100%);
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

#index_01 img:hover {
    filter: grayscale(1);
}